{{template "base" .}}
  
{{define "title"}}Домашняя страницa{{end}}

{{define "main"}}


<div class="image-wrapper">
    
    <img src="../static/img/image.png" alt="" class="image-item">
    <div class="image-text1"><b>Сплюшка - самое<br>
         комфортное место на<br>
          Земле</b></div>
    <div class="image-text2">Здесь Вы можете делиться своими историями анонимно и получать поддержку в<br>
         любое время</div>
    <div class="buttonToForum"><button><a href='/forum'><b>Перейти в форум</b></a></button></div>
    <div class="buttonToAdviсe"><button><a href='/adviсe'><b>Получить совет от сплюшки</b></a></button></div>
</div>
<div class="phrase">
     <h2>Ночью человек всегда иной, чем днём</h2>
     <p><b>— Эрих Мария Ремарк</b></p>
</div>
{{end}}





