* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}
b {
    font-weight: 600;
}
::-webkit-scrollbar {
    display: none;
}
html, body {
    min-height: calc(100vh - 300px);
    width: 100vw;
}
body > footer {
    height: 400px;
    background-color: darkmagenta;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
body > footer > h3 {
    font-size: 36px;
}