@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}
b {
    font-weight: 600;
}
::-webkit-scrollbar {
    display: none;
}
html, body {
    min-height: calc(100vh - 300px);
    width: 100vw;
}
body > footer {
    height: 400px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}
body > footer > h3 {
    font-size: 36px;
}